@import "tailwindcss";

@theme{
    --color-rose-500: oklch(64.5% 0.246 16.439);
    --color-gray-500: oklch(0.551 0.027 264.364);
    --font-sans: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-weight-bold: 700;
    --shadow-xl: 0 0px 25px 35px orange, 0 8px 10px -6px black;
    --drop-shadow-lg: 0 0px 50px blue;
}